#----------------------------------#
#- Excluding .DS_Store from MacOS -#
#----------------------------------#
.DS_Store
XNLO/.DS_Store
XNLO/Eigen/.DS_Store
XNLO/bin/.DS_Store
XNLO/build/.DS_Store
XNLO/include/.DS_Store
XNLO/src/.DS_Store

UPPE/.DS_Store
UPPE/Eigen/.DS_Store
UPPE/bin/.DS_Score
UPPE/build/.DS_Store
UPPE/include/.DS_Store
UPPE/src/.DS_Store

HHGP/.DS_Store
HHGP/Eigen/.DS_Store
HHGP/bin/.DS_Score
HHGP/build/.DS_Store
HHGP/include/.DS_Store
HHGP/src/.DS_Store

#------------------------------------------#
#- Excluding Jupyter notebook checkpoints -#
#------------------------------------------#
.ipynb_checkpoints/*
# XNLO/.ipynb_checkpoints/*
# UPPE/.ipynb_checkpoints/*
# HHGP/.ipynb_checkpoints/*

#-----------------------------------------------------------#
#- Excluding documentation files that aren't the final pdf -#
#- or the webpages of the docs                             -#
#-----------------------------------------------------------#
!docs/
docs/*
!docs/XNLO_Documentation.pdf
!docs/XNLO_Documentation.pdf
!docs/html/
!docs/html/*
!docs/latex/refman.pdf

!XNLO/docs/
XNLO/docs/*
!XNLO/docs/XNLO_Documentation.pdf
!XNLO/docs/html/
!XNLO/docs/html/*
!XNLO/docs/latex/refman.pdf

!UPPE/docs/
UPPE/docs/*
!UPPE/docs/XNLO_Documentation.pdf
!UPPE/docs/html/
!UPPE/docs/html/*
!UPPE/docs/latex/refman.pdf

!HHGP/docs/
HHGP/docs/*
!HHGP/docs/XNLO_Documentation.pdf
!HHGP/docs/html/
!HHGP/docs/html/*
!HHGP/docs/latex/refman.pdf

#-------------------------#
#- Excluding build files -#
#-------------------------#
build/*
!build/clean
!build/comp
!build/Doxyfile
!build/iridisComp
XNLO/build/*
!XNLO/build/clean
!XNLO/build/comp
!XNLO/build/Doxyfile
!XNLO/build/iridisComp
UPPE/build/*
!UPPE/build/clean
!UPPE/build/comp
!UPPE/build/Doxyfile
!UPPE/build/iridisComp
HHGP/build/*
!HHGP/build/clean
!HHGP/build/comp
!HHGP/build/Doxyfile
!HHGP/build/iridisComp

#--------------------------------------------------#
#- Excluding library files that aren't the header -#
#--------------------------------------------------#
XNLO/lib/*
!XNLO/lib/XNLO.hpp
HHGP/lib/*
!HHGP/lib/HHGP.hpp

#-------------------------------------------#
#- Exclude executables from the bin folder -#
#-------------------------------------------#
XNLO/bin/*
UPPE/bin/*
HHGP/bin/*

#--------------------------#
#- Exclude pycache folder -#
#--------------------------#
XNLO/__pycache__/*
UPPE/__pycache__/*
HHGO/__pycache__/*

#------------------------------#
#- Exclude output directories -#
#------------------------------#
XNLO/output
UPPE/output
HHGP/output
XNLO/output/*
UPPE/output/*
HHGP/output/*

#---------#
#- Misc. -#
#---------#
UPPE/BatchJobTest.py

